aniso8601==3.0.2
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
cached-property==1.5.1
certifi==2018.8.24
chardet==3.0.4
cloudpickle==0.5.5
coverage==4.5.2
cycler==0.10.0
dask==0.19.1
decorator==4.3.0
dj-database-url==0.5.0
Django==2.1.3
django-cors-headers==2.4.0
django-filter==2.0.0
django-registration-redux==2.5
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
Faker==0.9.1
graphene==2.1.3
graphene-django==2.2.0
graphene-django-extras==0.3.7
graphql-core==2.1
graphql-relay==0.4.5
h5py==2.8.0
hellowebapp-deploy==1.0.2
idna==2.7
iso8601==0.1.12
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
matplotlib==2.2.3
mixer==6.1.3
more-itertools==4.3.0
networkx==2.1
numpy==1.15.1
opencv-python==3.4.3.18
Pillow==9.3.0
pluggy==0.8.0
promise==2.2.1
py==1.7.0
PyJWT==1.6.4
pynder==0.0.13
pyparsing==2.2.0
pytest==4.0.0
pytest-cov==2.6.0
pytest-django==3.4.4
python-dateutil==2.7.3
pytz==2018.7
PyWavelets==1.0.0
PyYAML==3.13
requests==2.19.1
robobrowser==0.5.3
Rx==1.6.1
scikit-image==0.14.0
scipy==1.1.0
singledispatch==3.4.0.3
six==1.11.0
text-unidecode==1.2
toolz==0.9.0
urllib3==1.23
waitress==1.1.0
Werkzeug==0.14.1
whitenoise==4.1.1
